extends layout

block content
  body
    include ./index
    section.container.bg
      main.pokedex
        each pokemon in pokemons
          article.pokemon(data-id= pokemon.id)
            figure.pic
              img(src= pokemon.url alt= pokemon.name)
            h2.name #{pokemon.name}
            p.description #{pokemon.description}
            div.attributes
              p.type #{pokemon.type}
              span.id Nº #{pokemon.id}
